
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">La Maison</a>
            <div class="dropdown-content">
                <a href="#">Présentation</a>
                <a href="#">Informations</a>
                <a href="#">Avis</a>
                <a href="#">Histoire Du Domaine</a>
                <a href="#">Localisation</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Contact</a>
            <div class="dropdown-content">
                <a href="#">Nous Contacter</a>
                <% if(user) { %>
                    <a href="/depotdossier">Je dépose mon dossier</a>
                <% } else { %>
                    <a href="/compte">Je dépose mon dossier</a>
                <% } %>
            </div>
        </li>
        <% if(user) { %>
            <li class="dropdown">
                <% if(user.role === "admin") { %>
                    <a href="/dashboardadmin" class="dropbtn">Tableau de bord</a>
                    <div class="dropdown-content">
                        <a href="/dashboardadmin">Tableau de bord</a>
                    </div>
                <% } else if (user.role === "locataire") { %>
                    <a href="/dashboardlocataire" class="dropbtn">Tableau de bord</a>
                    <div class="dropdown-content">
                        <a href="/dashboardlocataire">Tableau de bord</a>
                    </div>
                <% } %>
            </li>
            <li><a href="/compte">Mon Compte</a></li>
        <% } else { %>
            <li><a href="/compte">S'Authentifier</a></li>
        <% } %>
    </ul>
    
</nav>