<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styledashboard.css">
    <title></title>
</head>
<body>
    <style>
        .container {
            margin-top:100px;
        }
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
        }
        input[type="submit"],
        .container a,
        button {
            background-color: white;
            color: #0d4545;
            border: none;
            padding: 0;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
            text-align: center;
        }
        input[type="submit"]:hover,
        .container a:hover,
        button:hover {
            background-color: white;
            color: #0d454594;
        }
    </style>
    <%- include('../PARTIALS/navbar') %>
    <div class="container">
        <div class="sub-container">
            <h2>Une question ou un besoin spécifique ?</h2>
            <h3>📧 Écrivez-nous à<a href="mailto:NBLOC10@gmail.com?subject=Demande%20d'informations&body=Bonjour,"><strong>NBLOC10@gmail.com</strong></a></h3>
            <br>
            <p>📍 10 rue Julia et Maurice Marcou, 17700 Surgères</p>
        </div>
    </div>
    <%- include('../PARTIALS/footer') %>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    if (sessionStorage.getItem("scrollPosition")) {
        window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
        sessionStorage.removeItem("scrollPosition");
    }

    document.querySelectorAll("form").forEach(form => {
        form.addEventListener("submit", function () {
            sessionStorage.setItem("scrollPosition", window.scrollY);
        });
    });
});
</script>
</body>
</html>