<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Bienvenue</title>
</head>
<body>
    <%- include('../PARTIALS/navbar') %>
<section>
    <%- include('../PARTIALS/year') %>
</section>
<%- include('../PARTIALS/footer') %>
<script>
    document.addEventListener("DOMContentLoaded", function () {
if (sessionStorage.getItem("scrollPosition")) {
    window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
    sessionStorage.removeItem("scrollPosition");
}

document.querySelectorAll("form").forEach(form => {
    form.addEventListener("submit", function () {
        sessionStorage.setItem("scrollPosition", window.scrollY);
    });
});
});
</script>
</body>
</html>