<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Bienvenue</title>
</head>
<body>
        <%- include('../PARTIALS/navbar') %>
        <%- include('../PARTIALS/year') %>
        <div class="div-dossier">
            <div class="dossier">
                <a href="/depotdossier" id="dossier">Je dépose mon dossier</a> 
            </div>
        </div>
        <br><br>
        <section>
        <h3>Nos Partenaires</h3>
        <div class="section-grid">
            <div class="section-card">
            <a href="https://achacunsontoit.fr/">
            <img src="https://achacunsontoit.fr/wp-content/uploads/2023/08/Fichier-5-1024x941.png" alt="Partenaire 1">
            <h2>À chacun son toit</h2>
            <p>L’association À Chacun son Toi..T vous propose de nombreux logements, que ce soit en résidence Habitat Jeunes ou de la mise en relation bailleurs privés !</p>
            </a>
            </div>
            <div class="section-card">
            <a href="https://www.ville-surgeres.fr/">
            <img src="https://www.logicielcantine.fr/images/logos/surgeres.jpg" alt="Partenaire 2">
            <h2>Mairie de Surgères</h2>
            <p>Site officiel de la ville de Surgères - Charente-Maritime (17)</p>
            </a>
            </div>
        </div>
        </section>

        <section>
        <h3>Infos Pratiques</h3>
        <div class="section-grid">
            <div class="section-card">
            <h2>Documents à fournir</h2>
            <ul>
                <li>Pièce d'identité</li>
                <li>Justificatif de domicile / Bon paiement loyers</li>
                <li>Justificatifs de situation professionnelle</li>
                <li>Justificatifs de ressources</li>
                <li>Avis d'imposition</li>
                <li>Les justificatifs du ou des garant(s)</li>
            </ul>
            </div>
            <div class="section-card container">
            <h2>Accès</h2>
            <p>🚉 À 5 minutes de la gare</p>
            </div>
        </div>
        </section>

        <section>
        <h3>Foire Aux Questions</h3>
        <div class="section-grid">
            <div class="section-card">
                <h2>Y a-t-il des commerces de proximité&nbsp;?</h2>
                <p>✅ Oui il y a de nombreux commerces traditionnels ainsi que des grandes surfaces.</p>
            </div>
            <div class="section-card container">
                <h2>Le linge de lit est-il fourni&nbsp;?</h2>
                <p>✅ Le linge de lit peut être fournit sur demande.</p>
            </div>
            <div class="section-card">
                <h2>Est ce que la coloc possède un lieu  sécurisé pour vélo ou autres 2 roues&nbsp;?</h2>
                <p>✅ Oui il y a un sous sol sécurisé.</p>
            </div>
        </div>
        </section>

        <section>
        <h3>Contact</h3>
        <div class="section-contact">
            <h2>Une question ou un besoin spécifique ?</h2>
            <p>📧 Écrivez-nous à <a href="mailto:NBLOC10@gmail.com?subject=Demande%20d'informations&body=Bonjour,">NBLOC10@gmail.com</a></p>
            <p>📍 10 rue Julia et Maurice Marcou, 17700 Surgères</p>
        </div>
</section>
        <%- include('../PARTIALS/footer') %>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    if (sessionStorage.getItem("scrollPosition")) {
        window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
        sessionStorage.removeItem("scrollPosition");
    }

    document.querySelectorAll("form").forEach(form => {
        form.addEventListener("submit", function () {
            sessionStorage.setItem("scrollPosition", window.scrollY);
        });
    });
    });
    </script>
</body>
</html>